body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: rgb(255, 210, 217);}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(252, 238, 238);
  align-items: center;

}
.logodiv {
  display: flex;
  align-items: center; 
}
h1 {
  
  font-size: 25px;
  font-weight: 200
}
header img {
  max-width: 100px;
  max-height: 80px;
  }

header nav {
  
 display: flex;
 margin: 1rem;
 justify-content: flex-start;
  
  }

ul {
  gap: 4rem;
  display: flex;
  
  align-items: center;
}
li {
  
  list-style: none;
  font-size: 18px;
}

header li a {
  font-size: 17px;
  color: black;
  text-decoration: none;
}

header a:hover {
  color: rgb(255, 194, 195);
  text-decoration: underline;
}
.button {
  border: solid 2px;
  border-color: gray;
  border-radius: 0.5rem;
  padding: 5px;
  margin: 1rem;
}
.button a {
  text-decoration: none;
  color: gray;
}
.button a:hover {
  color:gray;
  text-decoration: underline;
}

main {
  
  display: flex;
  justify-content: space-between;
  height: 100%;
}


main .article { 
  background-color: rgb(252, 238, 238);
  border: solid;
  margin: 1rem;
  width: 700rem;
  align-content: center;
}

.article h2 {
  margin: 1rem;
}
main .foodpic {
  margin: 1rem;
  max-width: 40rem;
  
}
.article h3 {
  margin: 1rem;
}
.article p {
  margin: 1rem;
}

main .sidebar {
  
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  align-items: center;

}

.bottomabout {
  
  align-self: flex-end;
}
main .topabout {
  border: solid;
  background-color: rgb(252, 238, 238);
  margin: 1rem;
}
main .author {
  background-color: rgb(252, 238, 238);
  max-width: 10rem;
  padding: 1rem 1rem 0 1rem;
}
.about h3 {
  margin: 0 1rem;
}
.about p {
  margin: 1rem;
} 

.sidebarformatting {
  
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.furtherformat {
  
  display: flex;
  flex-direction: column;
}


.linecat {
 max-width: 100px; 
 align-self: center;
 margin: 1rem 0 0 0;
}

.trending {
  background-color: rgb(252, 238, 238);
  display: flex;
  flex-direction: column;
  border: solid;
  margin: 0 1rem;
}

.trending h2 {
  margin: 1rem;
  text-align: center;
  font-size: 16px;
  padding: 0;
}
.tr1 {
  border-top: solid;
  display: flex;
  padding: 1rem;
  }

.tr1 a {
  color: ,;
}

.tr2 {
  border-top: solid;
  padding: 1rem;
  display: flex;

}
.tr3 {
  border-top: solid;
  display: flex;
  padding: 1rem;
}

.kittycat {
  background-color: b;
  justify-self: flex-end;
}


footer {
  background-color: rgb(245, 129, 148);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footlogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footlogo h3 {
  
  padding: 5px;
  font-size: 10px;
}

footer img {
  max-width: 40px;
}

footer nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  
}


footer li a {
  text-decoration: none;
  font-size: 12px;
  color: black;
}

footer li a:hover {
  text-decoration: underline;
  color: white;
}


footer form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .emailform {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.emailbox {

  border-color: ;
  background-color:pink ;
}
.label {
  padding: ;
  margin: 1 1rem 0 1rem
}
input {
  margin: 5px;
  padding: 3px;
  border-radius: 0.5rem;
  background-color: pink;
  color: gray;
  border-color: gray;
}